	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<%= gravatar_for(message.user, size: 40) %>
			<strong><%= message.user.display_name %></strong>
			<%= message.message_time %>
			<div class="row-space-2">
				<%= message.content %>
			</div>
		</li>
	</ul>
