<% provide(:title, 'About') %>

<h1>We are making exhibition space more accessible.</h1>
<h2>
  Showing art or photography to the public is an amazing experience. However, finding the right venue and organising an exhibition is often difficult, time-consuming and expensive.
  <br>
  We want to change that.
</h2>
