<% provide(:title, 'Contact') %>

<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead center">You can contact us via following channels. We'll get back to you as soon as possible. We're looking forward to hearing from you!</p>
  <hr class="my-4">
  <p class="center">
  <a href="https://www.instagram.com/exhybyt/"> <i class="fab fa-2x fa-instagram text-muted"></i></a>
  <a href="https://facebook.com/exhybyt"> <i class="fab fa-2x fa-facebook-f text-muted"></i></a>
  <a href="https://twitter.com/exhybyt"> <i class="fab fa-2x fa-twitter text-muted"></i></a>
  <a href="mailto:info@exhybyt.com?subject=Website Enquiry"> <i class="far fa-2x fa-envelope text-muted"></i></a>
  </p>
</div>
