<% provide(:title, 'Cookie Policy') %>

<!-- Termly Tracking Code -->

<div name="termly-embed" data-id="25efba88-9102-4699-9297-d72c26a9fdc1" data-type="iframe"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, tjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://app.termly.io/embed-policy.min.js";
  tjs.parentNode.insertBefore(js, tjs);
}(document, 'script', 'termly-jssdk'));</script>
