<% provide(:title, 'For Businesses') %>

<h1>How it works</h1>

<div class="container center">
  <h2>For Businesses</h2>
  <div class="row">
    <div class="col-lg-3">
      <i class="fa fa-cloud-upload-alt fa-2x text-muted mt-5"></i>
      <h2>1) LIST YOUR WALL SPACE</h2>
      <p class="center">Easily list your wall space, window display or entire gallery.</p>

    </div>
    <div class="col-lg-3">
      <i class="fab fa-cc-stripe fa-2x text-muted mt-5"></i>
      <h2>2) CONNECT STRIPE ACCOUNT</h2>
      <p class="center">Set up and connect with Stripe to accept payments.</p>
    </div>
    <div class="col-lg-3">
      <i class="fa fa-calendar-check fa-2x text-muted mt-5"></i>
      <h2>3) RECEIVE RESERVATIONS</h2>
      <p class="center"> You decide which art and photography you want to show.</p>
    </div>
    <div class="col-lg-3">
      <i class="fa fa-image fa-2x text-muted mt-5"></i>
      <h2>4) SET UP THE EXHIBITION</h2>
      <p class="center">Artists will provide you with the artwork.</p>
    </div>
  </div>
</div>

<div class="center jumbotron">
  <h1>We are making exhibition space more accessible.</h1>
  <h2>
    No matter what type of business, we allow you to rent out your wall space to generate an additional revenue stream.
    You curate, approve and display only artwork that you like and don't have to take care of artwork sales.
  </h2>

  <% if logged_in? %>
    <%= link_to "Add a Space", new_space_path, class: "btn btn-secondary" %>
  <% end %>

  <% unless logged_in? %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
  <% end %>

</div>
