<% provide(:title, 'For Artists') %>

<h1>How it works</h1>

<div class="container center">
  <h2>For Artists</h2>
  <div class="row">
    <div class="col-lg-3">
      <h2><i class="fa fa-cloud-upload-alt fa-2x text-muted mt-5"></i></h2>
      <h2>1) LIST YOUR ART</h2>
      <p class="center">The exhibition venues are interested in seeing the work that you plan to exhibit.</p>
    </div>
    <div class="col-lg-3">
      <h2><i class="fa fa-search-location fa-2x text-muted mt-5"></i></h2>
      <h2>2) FIND A VENUE</h2>
      <p class="center"> Browse the exhibition venues and wall spaces available and book online.</p>
    </div>
    <div class="col-lg-3">
      <h2><i class="fa fa-image fa-2x text-muted mt-5"></i></h2>
      <h2>3) SET UP EXHIBITION</h2>
      <p class="center">Provide your artwork to the venue. Visitors can purchase your work via exhybyt.com.</p>
    </div>
    <div class="col-lg-3">
      <h2><i class="fa fa-shopping-bag fa-2x text-muted mt-5"></i></h2>
      <h2>4) SELL YOUR ART</h2>
      <p class="center">We provide labels with QR code to display with your art. Visitors can easily find your art on exhybyt.com.</p>
    </div>
  </div>
</div>

<div class="center jumbotron">
  <h1>We are making exhibition space more accessible.</h1>
  <h2>
    No matter if you are an emerging artist or a passionate photographer, EXHYBYT gives you the chance to show your artwork to a new clientele.
    Various types of businesses offer their wall spaces online. You can pick your preferred type and choose from various sizes of wall space.
  </h2>

  <%= link_to "Find Space", search_path, class: "btn btn-secondary" %>
  <% if logged_in? %>
    <%= link_to "Upload Art", new_artwork_path, class: "btn btn-primary" %>
  <% end %>
  <% unless logged_in? %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
  <% end %>

</div>
