<% provide(:title, 'Home') %>

<div class="center jumbotron">
  <h1>Welcome to EXHYBYT</h1>
  <h2>
    Making exhibition space more accessible
  </h2>

  <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
