<div class="container center">
  <h3><%= 'Amenities' if @space.is_toilet ||
                     @space.is_parking ||
                     @space.is_wifi ||
                     @space.is_dis_acc ||
                     @space.is_sec_sys ||
                     @space.is_hang_sys ||
                     @space.is_adj_light ||
                     @space.is_nat_light ||
                     @space.is_plugs ||
                     @space.is_storage %></h3>

  <div class="row">
    <% if @space.is_toilet %>
      <div class="col">
        <i class="fas fa-toilet fa-2x"></i>
        <p>Toilet</p>
      </div>
    <% end %>

    <% if @space.is_parking %>
      <div class="col">
        <i class="fas fa-parking fa-2x"></i>
        <p>Parking</p>
      </div>
    <% end %>

    <% if @space.is_wifi %>
      <div class="col">
        <i class="fas fa-wifi fa-2x"></i>
        <p>WiFi</p>
      </div>
    <% end %>

    <% if @space.is_dis_acc %>
      <div class="col">
        <i class="fas fa-wheelchair fa-2x"></i>
        <p>Disabled Access</p>
      </div>
    <% end %>

    <% if @space.is_sec_sys %>
      <div class="col">
        <i class="fas fa-lock fa-2x"></i>
        <p>Security System</p>
      </div>
    <% end %>

    <% if @space.is_hang_sys %>
      <div class="col">
        <i class="fas fa-wrench fa-2x"></i>
        <p>Picture Hanging System</p>
      </div>
    <% end %>

    <% if @space.is_adj_light %>
      <div class="col">
        <i class="fas fa-lightbulb fa-2x"></i>
        <p>Adjustable Lighting</p>
      </div>
    <% end %>

    <% if @space.is_nat_light %>
      <div class="col">
        <i class="fas fa-sun fa-2x"></i>
        <p>Natural Light</p>
      </div>
    <% end %>

    <% if @space.is_plugs %>
      <div class="col">
        <i class="fas fa-plug fa-2x"></i>
        <p>Power Plugs</p>
      </div>
    <% end %>

    <% if @space.is_storage %>
      <div class="col">
        <i class="fas fa-box-open fa-2x"></i>
        <p>Storage</p>
      </div>
    <% end %>
  </div>
</div>
