<% provide(:title, 'Edit Space') %>

<div class="row">
  <div class="col-md-6 offset-md-3">
      <%= render 'form' %>
      <hr class="my-4">
      <div id="edit"><%= render 'image_list' %></div>
  </div>
</div>
