<% provide(:title, 'Your Spaces') %>

<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <main class="col-md-9 ms-sm-auto">
      <h1 class="text-left">Your Spaces</h1>
      <% if @spaces.any? %>
        <div class="card-columns">
          <%= render @spaces %>
        </div>
      <% else %>
        You haven't added any space yet.
        <%= link_to "Add Space", new_space_path, class:"btn btn-sm btn-primary" %>
      <% end %>
    </main>
  </div>
</div>
