<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id),
  method: 'post' %>
  </div>
<% end %>
