<%= provide(:title, @user.firstname + " " + @user.lastname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= render 'shared/user_info' %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.spaces.any? %>
      <h3>Spaces <%= @user.spaces.count %></h3>
      <ol class="spaces">
        <%= render @spaces %>
      </ol>
    <% end %>
  </div>
</div>
