<% if @space_feed_items.any? %>
  <h1>Featured Spaces</h1>
  <h2><%= link_to "Discover more spaces", search_path, class: "text-muted" %></h2>
  <div class="card-columns">
    <%= render @space_feed_items.take(3) %>
  </div>
<% end %>
