<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= @user.display_name %></h1>
<span><%= link_to "view profile", @user %></span>
<span><%= pluralize(@user.spaces.count, "space") %></span>
