<div id="cookies-eu-banner" style="display: none;">
  By continuing to visit this site, you accept the use of cookies by Google Analytics for statistical purposes.
  <a href="<%= cookiepolicy_path %>" id="cookies-eu-more">Read more</a>
  <button id="cookies-eu-reject">Reject</button>
  <button id="cookies-eu-accept">Accept</button>
</div>
