<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="contact">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="terms">Terms of use</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="privacypolicy">Privacy Policy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="cookiepolicy">Cookie Policy</a>
  </li>
</ul>
