<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="<%= contact_path %>">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= terms_path %>">Terms of use</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= privacypolicy_path %>">Privacy Policy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= cookiepolicy_path %>">Cookie Policy</a>
  </li>
</ul>
