<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container">
  <h1>Why exhibit with us</h1>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <h2>QUICK & EASY</h2>
        <p class="center">It has never been easier to book a place where you can show your artwork. Simply upload the artwork that you want to exhibit and book a space.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>EXPOSURE</h2>
        <p class="center">No matter if you are an emerging artist or a passionate photographer, EXHYBYT gives you the chance to show your artwork to a new clientele.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>FLEXIBLE</h2>
        <p class="center">Various types of businesses offer their wall spaces online. You can pick your preferred type and choose from various sizes of wall space.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container">
  <h1>Why should businesses join?</h1>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <h2>ADDITIONAL REVENUE STREAM</h2>
        <p class="center"></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>EASY LISTING PROCESS</h2>
        <p class="center"></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>DISPLAY ONLY ART THAT YOU LIKE</h2>
        <p class="center"></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
